services:
  nginx:
    image: nginx:latest
    container_name: glatar-nginx
    ports:
      - "80:80"
      - "433:433"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - shiny
    networks:
      - shiny-net
      
  certbot: 
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: >
      sh -c "trap exit TERM; while :; do
      certbot renew --webroot -w /var/www/certbot;
      sleep 12h;
      done"

  shiny:
    image: ghcr.io/benjaminhlina/glatar-app:latest
    restart: unless-stopped
    expose:
      - "3838"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_SSLMODE: ${POSTGRES_SSLMODE}
      SHINY_USER: ${SHINY_USER}
      SHINY_PASSWORD: ${SHINY_PASSWORD}
    networks:
      - shiny-net

networks:
  shiny-net:
    driver: bridge
    
# shiny:
#     image: ghcr.io/benjaminhlina/glatar-app:latest
#     env_file:
#       - .env
#     restart: unless-stopped
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:3838/ || exit 1"]
#       interval: 30s
#       timeout: 10s
#       retries: 3
# nginx.conf

# all Shiny containers are on the same 
# network and share the same service name shiny. 
# Docker DNS will load balance automatically:
# worker_processes auto;
# events { worker_connections 1024; }

# http {
#     upstream shiny_upstream {
#         server shiny:3838;  # Docker DNS will resolve multiple containers automatically
#     }

#     server {
#         listen 80;

#         location / {
#             proxy_pass http://shiny_upstream;
#             proxy_set_header Host $host;
#             proxy_set_header X-Real-IP $remote_addr;
#             proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#             proxy_set_header X-Forwarded-Proto $scheme;
#         }
#     }
# }
