name: Deploy Composer to AWS 

on:
  workflow_run:
    workflows: ["Build Docker Image"]
    types:
      - completed
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          ssh-keyscan -H ${{ secrets.AWS_SERVER_HOST }} >> ~/.ssh/known_hosts
      - name: Debug files
        run: ls -lah
      
      - name: Deploy with Docker Compose     
        env:
         SERVER_HOST: ${{ secrets.AWS_SERVER_HOST }}
         SERVER_USER: ${{ secrets.AWS_SERVER_USER }}
         GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        run: |
          # # Copy nginx.conf to the server
          
          # scp -i ~/.ssh/deploy_key ./nginx.conf ${SERVER_USER}@${SERVER_HOST}:/opt/glatar/nginx.conf
          
          # login into the server 
          ssh -i ~/.ssh/deploy_key -o StrictHostKeyChecking=no ${SERVER_USER}@${SERVER_HOST} << EOF
          
          # Login to GHCR
          
          cd /opt/glatar || exit 1
          git pull
          
          echo "${GHCR_TOKEN}" | docker login ghcr.io -u benjaminhlina --password-stdin

          docker compose pull

          docker compose up -d --remove-orphans

          docker image prune -f

          docker compose ps

          EOF

      - name: Cleanup SSH Key
        if: always()
        run: rm -f ~/.ssh/deploy_key
