name: Deploy Composer to AWS 

on:
  workflow_run:
    workflows: ["Build Docker Image"]
    types:
      - completed
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          ssh-keyscan -H ${{ secrets.AWS_SERVER_HOST }} >> ~/.ssh/known_hosts
      - name: Debug files
        run: ls -lah
      
      - name: Deploy with Docker Compose     
        env:
         SERVER_HOST: ${{ secrets.AWS_SERVER_HOST }}
         SERVER_USER: ${{ secrets.AWS_SERVER_USER }}
         GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        run: |
          # Write .env file with GH secrets
          cat <<EOT > .env
          POSTGRES_DB=${POSTGRES_DB}
          POSTGRES_HOST=${POSTGRES_HOST}
          POSTGRES_PORT=${POSTGRES_PORT}
          POSTGRES_USER=${POSTGRES_USER}
          POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
          POSTGRES_SSLMODE=${POSTGRES_SSLMODE}
          SHINY_USER=${SHINY_USER}
          SHINY_PASSWORD=${SHINY_PASSWORD}
          EOT

          # Optional: secure permissions
          chmod 600 .env
          
          # Login to GHCR
          
          echo "${GHCR_TOKEN}" | docker login ghcr.io -u benjaminhlina --password-stdin

          # docker compose everything together 
          docker compose pull
  
          docker compose up -d --remove-orphans

          docker image prune -f

          docker compose ps

          EOF

      - name: Cleanup SSH Key
        if: always()
        run: rm -f ~/.ssh/deploy_key
