name: Deploy Composer to AWS 

on:
  workflow_run:
    workflows: ["Build Docker Image"]
    types:
      - completed
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Configure SSH
        env:
         SERVER_HOST: ${{ secrets.AWS_SERVER_HOST }}
         SERVER_USER: ${{ secrets.AWS_SERVER_USER }}
         GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          ssh-keyscan -H ${{ secrets.AWS_SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy with Docker Compose     
        run: |
          ssh -i ~/.ssh/deploy_key -o StrictHostKeyChecking=no ${SERVER_USER}@${SERVER_HOST} << EOF

          set -e

          cd /opt/glatar

          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          docker compose pull

          docker compose up -d --remove-orphans

          docker image prune -f

          docker compose ps

          EOF

      - name: Cleanup SSH Key
        if: always()
        run: rm -f ~/.ssh/deploy_key
